{% extends 'base.html' %}


{% block content %}

<div class="container">

  {% if last %}
  <a href="{% url 'project' last.id %}">
    <h3 class="text-center mt-5"><u>Latest: {{last.title}}</u></h3>
    <div class="text-center mt-3">
      <img src="{{last.landing_image.url}}" alt="" width="50%" height="50%">
    </div>
  </a>
  <br>
  <h4 class="m-2"><u>Score</u></h4>
  <p>Usability: {{av_usability}} <-->
  Design: {{av_design}} <-->
  Creativity: {{av_creativity}} <-->
  Content: {{av_content}}</p>
  <p>Average score: {{av_score}}</p>
  <div class="mb-5">

  </div>
  <hr>
  {% endif %}
  
  <h3 class="text-center mt-5 mb-5"><u>All Projects</u></h3>
  <div class="row mt-3">
    {% for project in projects %}
    <div class="col-md-4">
      <a href="{% url 'project' project.id %}">
      <img src="{{project.landing_image.url}}" alt="" width="300" height="200">
      <p><a href="{% url 'project' project.id %}">{{project.title}}</a></p>
      </a>
    </div>
    {% endfor %}
  </div> <!-- end div row-->

</div>


{% endblock %}
