{% extends 'base.html' %}

{% block content %}

<div class="container">

  <p>{{message}}</p>

  {% if results %}
  <div class="text-center">
    <div class="panel" style="width: 40rem;">
      <!-- <div class="custom-card-header"> -->
      <div class="panel-body">
        {% for result in results%}
        <div class="col-md-4">
          <a href="{% url 'project' project.id %}">
          <img src="{{project.landing_image.url}}" alt="" width="300" height="200">
          <p><a href="{% url 'project' project.id %}">{{project.title}}</a></p>
          </a>
        </div>
        <!-- </div> -->

        {% endfor %}

      </div>
    </div>
  </div>
  {% else %}
  <h3>0 Results.</h3>
  {%endif %}

</div>

{% endblock %}
